extends layout

block content

  div.container

    h3.text-center.text-success Add a New Pet

    hr

    if (messages.error)
        .alert.alert-danger
            span= messages.error

    if (messages.success)
        .alert.alert-success
            span= messages.success

    a(href='/' ) back to home
    .row
        .col-4.mx-auto.col-md-6
            h4.display-10.m-b-2.text-info Add Pet

            form(method='POST' action='/add')
                div.form-group
                    label(for='name') Name:
                    input#name.form-control(type='text', placeholder='name' name='name' required)
                div.form-group
                    label(for='type') Type:
                    select#type.form-control(name='type')
                        option(value="Cat") Cat
                        option(value="Dog") Dog
                div.form-group
                    label(for='breed') Breed:
                    select#breed.form-control(name='breed')
                        option(value="Beagle") Beagle
                        option(value="Brittany") Brittany
                        option(value="Balinese") Balinese
                        option(value="Pointer") Pointer
                        option(value="Sphynx") Sphynx
                        option(value="Shiba") Shiba
                div.form-group
                    label(for='location') Location:
                    input#location.form-control(type='text' name='location' placeholder='Enter a Location' required)
                div.form-group
                    label(for='latitude') Latitude:
                    input#latitude.form-control(type='text' name='latitude' required)
                div.form-group
                    label(for='longitude') Longitude:
                    input#longitude.form-control(type='text' name='longitude' required)
                button.btn.btn-primary(type='submit') Add New Pet

  script(src='/javascripts/main.js')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATQb-34Xnk5Zq_JqeuOFiLl_GzGF5uLsU&libraries=places&callback=initAutocomplete" async defer)