
body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

a {
  color: #00B7FF;
}

h1, h2, h3{
  color: #4d4d4d;
}

.container {
  max-width: 960px;
}

.pet-details{
  font-size: 12px;
  list-style: none;
  padding: 0;
  margin:0;
}

.pet-details li{
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 0;
}

.pet-details li span{
  font-weight: bold;
  font-size: 15px;
  margin-left: 5px;
}

.lookup{
  padding-top: 10px !important;
}
h4.weatherheader{
  font-size: 18px;
}

.weather-help h4{
  margin-top: 20px;
  margin-bottom: 20px;
}